/*CSS file for learning CSS3*/

body  {
	margin: 0 20% 0 20%;
	background-color: #CE59E5;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
}

h1, h2, h3, h4, h5, h6  {
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

a:visited  {
	color: #000;
}

ul#mainNav  {
	list-style-type: none;
	margin: 0;
	padding: 0.2em 0 0 0;
}

ul#mainNav li  {
	display: inline;
	margin-right: 20px;
}
 
